In [28]:
from numpy import matrix
import pandas as pd

In [27]:
x = matrix([[3,0,0],[1,2,0],[0,1,2]])
y = matrix([[30],[20],[9]])
A = x.I * y
piston, tire, shocks = A[0,0], A[1,0], A[2,0]
print(f'piston = {piston}, tire = {tire}, shocks = {shocks}')
print(f'Answer:  tire + shocks/2 * piston = {tire + shocks/2 * piston}')

piston = 10.0, tire = 5.0, shocks = 2.0
Answer:  tire + shocks/2 * piston = 15.0

In [32]:
sp500df = pd.read_csv('~/Downloads/^GSPC.csv')

In [33]:
aapl = pd.read_csv('~/Downloads/AAPL.csv')

In [42]:
aapl.describe()

,Open,High,Low,Close,Adj Close,Volume
count,21.000000,21.000000,21.000000,21.000000,21.000000,2.100000e+01
mean,165.677144,167.256667,164.219048,165.836666,165.406062,2.969061e+07
std,7.131651,7.304107,7.750991,7.540950,7.700676,9.568087e+06
min,154.110001,154.479996,151.699997,152.699997,152.047897,1.896210e+07
25%,156.410004,158.130005,154.320007,157.759995,157.086288,2.313060e+07
50%,168.990005,171.000000,168.419998,170.179993,170.179993,2.619210e+07
75%,171.190002,171.699997,169.750000,170.929993,170.800003,3.266810e+07
max,174.649994,175.570007,172.850006,174.240005,173.495911,6.110980e+07

In [52]:
bench = pd.DataFrame({'sp500': sp500df['Adj Close'],'aapl': aapl['Adj Close']})

In [69]:
cor = bench.corr().iloc[0,1]

In [55]:
bench.describe()

             aapl        sp500
count   21.000000    21.000000
mean   165.406062  2707.413353
std      7.700676    49.109109
min    152.047897  2632.899902
25%    157.086288  2664.760010
50%    170.179993  2707.879883
75%    170.800003  2744.729980
max    173.495911  2784.699951

In [75]:
aaplstd = bench.describe().loc['std','aapl']
spstd = bench.describe().loc['std','sp500']
cov = bench.cov().loc['aapl','sp500']

In [77]:
f'cor = {cov/(aaplstd*spstd)}'

'cor = 0.9037923788547363'

In [79]:
print(cor)

0.903792378855

In [84]:
bench['sp500'].var()

2411.7046300172706

In [95]:
from numpy import sqrt

ImportError: cannot import name 'pow'